# Configurações do Unifi Controller
UNIFI_HOST=172.16.0.4        # IP do seu Unifi Controller
UNIFI_PORT=8443               # Porta padrão do Unifi (8443)
UNIFI_USERNAME=Administrador        # Usuário admin do Unifi
UNIFI_PASSWORD=71566dc193ba      # Senha do admin
UNIFI_SITE=default            # Site do Unifi (geralmente "default")

# Configurações do Voucher
VOUCHER_EXPIRE=480            # Duração em minutos (480 = 8 horas)
VOUCHER_QUOTA=1               # Quantos dispositivos por voucher (1 = apenas 1 dispositivo)

# Porta do servidor
PORT=3000
