/* Importa a fonte Roboto com os pesos 400 e 700 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Define as propriedades padrão para todos os elementos */
* {
  margin: 0; /* remove a margem */
  padding: 0; /* remove o preenchimento */
  box-sizing: border-box; /* define como o preenchimento ser  considerado */
}

/* Define as propriedades do corpo da p gina */
body {
  width: 100vw; /* define a largura como 100% da viewport */
  height: 100vh; /* define a altura como 100% da viewport */
  background-color: #121214; /* define a cor de fundo */

  display: flex; /* define o container como flex */
  justify-content: center; /* centraliza os elementos horizontalmente */
  align-items: center; /* centraliza os elementos verticalmente */
  flex-direction: column; /* define a dire o do container como coluna */

  font-family: "Roboto", sans-serif; /* define a fonte como Roboto */
  padding: 32px; /* define o preenchimento como 32px */
}

/* Define as propriedades dos t tulos */
h1,
h2 {
  color: #fff; /* define a cor do texto como branco */
  margin: 32px 0; /* define a margem de 32px para cima e para baixo */
}

#phone-error {
  color: red;
}
/* Define as propriedades do formul rio */
form {
  min-width: 510px; /* define a largura m nima como 510px */
  display: flex; /* define o container como flex */
  flex-direction: column; /* define a dire o do container como coluna */
  gap: 12px; /* define um espa o de 12px entre os elementos */

  }

/* Define as propriedades do input de texto */
input {
  flex: 1; /* define o input como flex e ocupa o espa o dispon vel */
  height: 56px; /* define a altura como 56px */
  border-radius: 5px; /* define a borda com um raio de 5px */
  border: 2px solid #202024; /* define a borda com uma largura de 2px e cor #202024 */
  background-color: #202024; /* define a cor de fundo como #202024 */
  padding: 16px; /* define o preenchimento como 16px */
  color: #fff; /* define a cor do texto como branco */
  font-size: 16px; /* define o tamanho da fonte como 16px */

  font-family: "Roboto", sans-serif; /* define a fonte como Roboto */
}

/* Define as propriedades do input de texto quando est  em focar */
input:focus {
  outline: 0; /* remove a borda do input */
  border-color: #8234e9; /* define a borda com uma cor #8234e9 */
}

/* Define as propriedades do bot o */
button {
  cursor: pointer; /* define o cursor como um ponteiro */
}

/* Define as propriedades da classe button */
.button {
  height: 56px; /* define a altura como 56px */
  background-color: #8257e5; /* define a cor de fundo como #8257e5 */
  border-radius: 5px; /* define a borda com um raio de 5px */
  border: none; /* remove a borda do bot o */
  color: #fff; /* define a cor do texto como branco */
  font-size: 14px; /* define o tamanho da fonte como 14px */

  padding: 0 16px; /* define o preenchimento como 16px */
  transition: background-color 0.2s; /* define uma transi o de 0.2s para a cor de fundo */
}

/* Define as propriedades da classe button quando est  em hover */
.button:hover {
  background-color: #633bbc; /* define a cor de fundo como #633bbc */
}

/* Define as propriedades da lista de convidados */
ul {
  list-style-type: none; /* remove a forma de lista */
  margin-top: 42px; /* define uma margem de 42px para cima */
}

/* Define as propriedades dos convidados */
.guest {
  color: #fff; /* define a cor do texto como branco */
  font-size: 16px; /* define o tamanho da fonte como 16px */

  background-color: #202024; /* define a cor de fundo como #202024 */

  margin-bottom: 16px; /* define uma margem de 16px para baixo */
  padding: 22px 16px; /* define o preenchimento como 22px para cima e 16px para baixo */
  border-radius: 5px; /* define a borda com um raio de 5px */

  font-family: "Roboto", sans-serif; /* define a fonte como Roboto */
  font-weight: bold; /* define o peso da fonte como bold */
  display: flex; /* define o container como flex */
  justify-content: space-between; /* define o espa o entre os elementos como espa o */
}

/* Define as propriedades do terceiro convidado */
#guest-3 {
  display: flex; /* define o container como flex */
  gap: 10px; /* define um espa o de 10px entre os elementos */
  justify-content: left; /* define o espa o entre os elementos como espa o */
}

@media (max-width: 420px) {
  form {
    flex-direction: column; /* define o container como coluna */
    min-width: 0; /* remove a largura m nima */
  }
}

.input-error,
.input-error:focus {
  border-color: #e21a43; /* define a borda com uma cor #e21a43 */
}

