#page-create-point{
    width: 90%; 
    max-width: 1100px ;
    
    margin: 0 auto;
}
#page-create-point header{
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page-create-point header a{
    color: var(--title-color);
    font-weight: bold;
}
#page-create-point header a span{
    background-image: url('../assets/icons/arrow-left.svg');
    width: 20px;
    height: 20px;
    display:flex;
    align-items: center;
    margin-right: 16px;
}

form {
    background-color: white;
    padding: 64px;
    margin-top: 80px;
    border-radius: 8px;
    max-width: 730px;
    margin: 80px auto;

    
}
