#page-home {
    height: 100vh;

    background: url('../assets/home-background.svg');  
    background-repeat: no-repeat;
    background-position: 35vw bottom;
   
}

#page-home.content{
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}
#page-home header{
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page-home header a {
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    color:var(--title-color);
    font-weight: bold;
    
}
#page-home header a span{
    display: flex;
    margin-right: 16px;


    background-image: url(../assets/log-in.svg);
    width: 20px;
     height: 20px;
    
}
#page-home main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 560px;
    height: 100vh;
}
    
#page-home main h1 {
  
    font-size: 54px;
    font-weight: 900;
    line-height: 54px;
}
#page-home main p {
    margin-top: 24px;
    font-size: 24px;
    line-height: 38px;
}
#page-home main a {
    margin-top: 40px;
    width: 100%;
    max-width: 360px;
    height: 60px;
    background: var(--primary-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    transition: 400ms;
    font-weight: bold;
    color: white;
}
#page-home main a:hover {
    background: #2fb86e;
}
#page-home main a span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    background: rgba(0, 0, 0, 0.08);
    transition: background-color 400ms;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
#page-home main a span::after {
    content: "";
    background: url('../assets/search.svg');
    width: 24px;
    height: 24px;
}
#page-home main a span:hover {
    background: #2fb86e;
}
#page-home main a strong {
    flex: 1;
    text-align: center;
    font-size: 16px;
    color: white;
}
