/* Este arquivo CSS define o estilo da página. CSS controla aparência: cores, fontes, layouts. */

/* :root define variáveis CSS para reutilizar cores */
:root{
    --title-color: #322153; /* Cor para títulos */
    --primary-color: #34cb79; /* Cor principal (verde) */
}
/* * é o seletor universal, aplica a todos os elementos */
*{
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimentos padrão */
    box-sizing: border-box; /* Inclui padding e border na largura/altura */
    
}
/* Estilo para o elemento html */
html{
    font-family: 'Roboto', sans-serif; /* Define fonte */

}
/* Estilo para o body (corpo da página) */
body{
    background-color: #f0f0f5; /* Cor de fundo */
    -webkit-font-smoothing: antialiased; /* Suaviza fontes no Chrome */

}
/* Estilo para links */
a {
    text-decoration: none;  } /* Remove sublinhado dos links */
    h1, h2, h3, h4, h5, h6 { /* Seletor para todos os títulos */
        font-family: 'ubuntu', sans-serif; /* Fonte para títulos */
        color: var(--title-color); /* Usa variável de cor */
    }
    

